<footer id="pageFooter" class="page-footer o-section o-footer my-0 py-12">
	<div class="o-group">
		<div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
			<div>
				<span class="h2">Navigation</span>
				<div class="mt-2 flex is-left">
					{% import "_macros/navigation.twig" as navigationMacros %}
					{{ navigationMacros.navigation(entry) }}
				</div>
			</div>
			<div>

				{% if craft.app.language == 'de' %}
					<span class="h2">Mehr links</span>
				{% else %}
					<span class="h2">More links</span>
				{% endif %}

				{% set footerGlobal = craft.app.globals.getSetByHandle('footer') %}
				<div class="mt-2 flex is-left">
					{% if footerGlobal.footerLinks %}
						<ul>
							{% for footerLink in footerGlobal.footerLinks.all() %}
								<li>
									<a class="leading-normal {% if entry.id == footerLink.id %}text-red-400{% endif %}" href="{{ footerLink.url }}">
										<span>{{ footerLink.title }}</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			<div>©
				{{ footerGlobal.copyright }}</div>
			<div class="languages">
				{% set currentSite = craft.app.sites.currentSite %}
				{% for siteInGroup in currentSite.getGroup.getSites() %}
					{% if siteInGroup.language == 'de' %}
						{% set languageName = 'Deutsch' %}
					{% elseif siteInGroup.language == 'en-GB' %}
						{% set languageName = 'English' %}
					{% endif %}
					{% if siteInGroup.id == entry.siteId %}
						<a href="" class="text-red-400 mr-8">{{ languageName }}</a>
					{% else %}
						{% set entryForOtherSite = craft.entries.id(entry.id).site(siteInGroup).one() %}
						{% if entryForOtherSite != null %}
							<a href="{{ entryForOtherSite.getUrl() }}" class="mr-8">{{ languageName }}</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</footer>
