{#-------
    Lazy Media is a component for images and videos
    to load them lazy (on scroll) and have many options
    like ratio changes, or if the image has to cover the area.
    Transforms are also loaded for the image depending
    on the screen size. (more infos in /mediaJSON.twig)
--------#}
<div class="o-lazy-media o-component">
    {% set asset = module.media.one() %}

    {#-- placeholder thumbnail until image is loaded --#}
    {% set thumb = {
        mode: 'crop',
        width: 100,
        height: 100,
        quality: 75,
        position: 'center-center'
    } %}

    {#-- for ratio --#}
    {% set ratioW = 2560 %}
    {% set ratioH = 1920 %}
    {#-- for placeholder --#}
    {% set imageWidth = 2560 %}
    {% set imageHeight = 1920 %}
    {% set objectfit = "contain" %}
    {% set hasRatio = false %}
    {% set assetRatio = "" %}
    {#-- parameters can be inherited by other components, like Carousel and add config to the images --#}
    {% set parameters = parameters ?? {} %}
    {% set asHero = asHero ?? false %}

    {% if asset != null %}

        {% if asset.kind == 'image' %}
            {% set imageWidth = asset.width %}
            {% set imageHeight = asset.height %}
            {% if imageWidth != 0 and imageHeight != 0 %}
                {% set assetRatioCss = "calc(" ~ imageHeight ~ " / " ~ imageWidth ~ " * 100%)" %}
            {% endif %}
        {% elseif asset.kind == 'video' %}
            {% set isVideo = true %}
            {% set isAutoplay = (module.isAutoplay is defined and module.isAutoplay == true) %}
        {% endif %}

        {#-- Params: assetRatio width W + H inputs --#}
        {% if parameters.width is defined and parameters.height is defined %}
            {% set hasRatio = true %}
            {% set ratioW = parameters.width %}
            {% set ratioH = parameters.height %}
        {% endif %}

        {#-- Params : assetRatio Selection --#}
        {% if parameters.assetRatio is defined %}
            {% set assetRatio = parameters.assetRatio ?? null %}
        {% endif %}

        {#-- Inherited Params : from Carousel --#}
        {% if parameters.itemRatio is defined %}
            {% set assetRatio = parameters.itemRatio ?? null%}
        {% endif %}

        {% if assetRatio != null%}
            {% set hasRatio = true %}
            {% set ratioArray = assetRatio | split("/") %}
            {% if ratioArray != null and ratioArray|length == 2 %}
                {% set ratioW = ratioArray[0] ?? null %}
                {% set ratioH = ratioArray[1] ?? null %}
            {% endif %}
        {% endif %}


        {#-- isCover --#}
        {% set isCover = (parameters.isCover is defined and parameters.isCover) and (hasRatio is defined and hasRatio) %}

        {#-- asHero --#}
        {% set asHero = (parameters.asHero is defined and parameters.asHero == true) %}
        {#% set isCover = asHero %#}

        {#-- objectfit --#}
        {% if isCover != null and isCover == true %}
            {% set objectfit = "cover" %}
        {% else %}
            {% set objectfit = "contain" %}
        {% endif %}

        {#-- max Dimensions --#}
        {% set hasMaxSize = false %}
        {% set maxWidth = "100%" %}
        {% set maxHeight = "unset" %}

        {% if not isCover%}
            {% if parameters.maxWidth is defined %}
                {% set maxWidth = parameters.maxWidth %}
                {% set hasMaxSize = true %}
            {% endif %}

            {% if parameters.maxHeight is defined %}
                {% set maxHeight = parameters.maxHeight %}
                {% set hasMaxSize = true %}
            {% endif %}
        {% endif %}

        {% set positionClass = "is-center"%}
        {% if position is defined %}
            {% set positionClass = "is-" + position%}
        {% endif %}

        {% set ratioObj = '{}' %}
        {% set cssRatioObj = '{}' %}

        {% if asHero == true %}
            {% if hasRatio == true %}
                {% set ratioObj = "{w:" + ratioW + ",h:" + ratioH + "}" %}
                {% set cssRatioObj = "calc(" + ratioH + " / " + ratioW + " * 100%)" %}
                {% set assetRatioCss = cssRatioObj %}
            {% endif %}
        {% endif %}

        {% from "_includes/mediaJSON.twig" import mediaJSON %}

        {#-- Asset Rendering --#}
        <lazy-media
                :media-object="{{ mediaJSON(asset) }}"
                :ratio="{{ ratioObj ?? '' }}"
                :css-ratio="'{{ cssRatioObj ?? '' }}'"
                :position-class="'{{ positionClass ?? '' }}'"
                :as-hero="{{ asHero ? 'true' : 'false' ?? '' }}"
                :is-cover="{{ isCover ? 'true' : 'false' ?? '' }}"
                :has-ratio="{{ hasRatio ? 'true' : 'false' ?? '' }}"
                :max-width="'{{ maxWidth ?? '' }}'"
                :max-height="'{{ maxHeight ?? '' }}'"
                :natural-height="{{ imageHeight ?? '' }}"
                :natural-width="{{ imageWidth ?? '' }}"
                {% if isVideo is defined %}
                    :video-poster="'{{ module.poster.one().url ?? '' }}'"
                    :is-autoplay="'{{ isAutoPlay ?? 'false' }}'"
                {% endif %}
        >
            <figure class="figure" {% if assetRatioCss is defined %}style="padding-top: {{ assetRatioCss ?? '' }}; font-size: 0;"{% endif %}>
                {% if asset.kind == 'image' %}
                    <picture class="container js-loaded {% if assetRatioCss is defined %}has-fixed-ratio{% endif %}">
                        <img class="media {{ positionClass ?? ''}} is-{{ objectfit ?? ''}}" width="{{ imageWidth ?? ''}}" height="{{ imageHeight ?? ''}}"
                             src="{% if assetRatioCss is defined %}data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII={% else %}{{ asset.getUrl(thumb) }}{% endif %}" style="display: block; max-width: {{ maxWidth ?? '' }} ; max-height: {{ maxHeight ?? '' }} ;{% if hasRatio == null %} opacity: 0;{% endif %}" {% if asset.altText is defined %}alt="{{ asset.altText }}"{% endif %}>
                    </picture>
                {% else %}
                    <video controls class="container media js-loaded {% if assetRatioCss is defined %}has-fixed-ratio{% endif %}" src="" preload="metadata" style="display: block; max-width:{{ maxWidth ?? '' }}; max-height:{{ maxHeight ?? '' }}; visibility: hidden;">
                    </video>
                {% endif %}
            </figure>
        </lazy-media>
        {% if asset.caption is defined %}
            <div class="caption">{{ asset.caption ?? ''}}</div>
        {% endif %}
    {% endif %}

</div>
