{% set heroMedia = newsPage.heroMedia.one() %}
<a href="{{ newsPage.url }}" class="inline-block no-underline mb-4 w-full">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-4 md:gap-8">
		{% if heroMedia != null %}
			<div>
				<div class="relative h-48 overflow-hidden shadow-none transition-shadow duration-300 hover:shadow-lg">
					<img class="w-full h-full object-cover" src="{{ heroMedia.url }}" alt="{{ heroMedia.title }}"/>
				</div>
			</div>
		{% endif %}
		<div class="col-span-1 lg:col-span-2">
			<h3>{{ newsPage.title }}</h3>
			{% set introText = newsPage.components.level(1).one().children.one() %}
			{% if introText != null %}
				{% set intro = introText.text|replace('<br />', ' ')|replace('/<[^>]*>/', '') %}
				<div>{{ (intro|length > 120 ? intro|slice(0, 120) ~ '...' : intro) }}</div>
			{% endif %}
		</div>
	</div>
</a>
