<div class="o-lazy-media o-component">
    {% set asset = module.media.one() %}

    {% set thumb = {
        mode: 'crop',
        width: 100,
        height: 100,
        quality: 75,
        position: 'center-center'
    } %}

    {#-- rendition --#}
    {% set maxRenditionWidth = 2560 %}
    {#-- for ratio --#}
    {% set ratioW = 2560 %}
    {% set ratioH = 1920 %}
    {#-- for placeholder --#}
    {% set imageWidth = 2560 %}
    {% set imageHeight = 1920 %}
    {% set objectfit = "contain" %}
    {% set hasRatio = false %}
    {% set cssRatio = "" %}
    {% set assetRatio = "" %}
    {% set isInstantly = false %}
    
    {% if asset != null %}

        {% if asset.kind == 'image' %}
            {% set imageWidth = asset.getWidth() %}
            {% set imageHeight = asset.getHeight() %}
            {% if imageWidth != 0 and imageHeight != 0 %}
                {% set assetRatioCss = "calc(" + imageHeight + " / " + imageWidth + " * 100%)" %}
            {% endif %}
        {% endif %}

        {#-- isAutoplay --#}
        {% set isAutoplay = module.isAutoplay %}

        {#-- position --#}
        {% set position = module.position ?? "center"%}
        {% if asset.getPosition() != null %}
            {% set position = asset.getPosition() %}
        {% endif %}

        {#-- hasCaption --#}
        {% set hasCaption = module.showCaption ?? false %}

        {#-- Params: assetRatio width W + H inputs --#}
        {% if parameters.width != null and parameters.height != null%}
            {% set hasRatio = true %}
            {% set ratioW = parameters.width %}
            {% set ratioH = parameters.height %}
        {% endif %}

        {#-- Params : assetRatio Selection --#}
        {% if parameters.assetRatio != null%}
            {% set assetRatio = parameters.assetRatio ?? null %}
        {% endif %}

        {#-- Props : assetRatio Selection --#}
        {% if module.assetRatio != null %}
            {% set assetRatio = module.assetRatio%}
        {% endif %}

        {#-- Props : assetRatio width W + H inputs --#}
        {% if module.width != null and module.height != null%}
            {% set hasRatio = true %}
            {% set ratioW = module.width %}
            {% set ratioH = module.height %}
        {% endif %}

        {#-- Inherited Params : from Carousel --#}
        {% if parameters.itemRatio != null%}
            {% set assetRatio = parameters.itemRatio ?? null%}
        {% endif %}

        {% if assetRatio != null%}
            {% set hasRatio = true%}
            {% set ratioArray = assetRatio?split("/")%}
            {% if ratioArray != null and ratioArray?size == 2%}
                {% set ratioW = ratioArray[0] ?? null%}
                {% set ratioH = ratioArray[1] ?? null%}
            {% endif %}
        {% endif %}

        {#-- isCover --#}
        {% set isCover = (parameters.isCover is defined and parameters.isCover == true) and (hasRatio is defined and hasRatio == true) ?? false%}

        {% if (module.isCover != null and module.isCover == true) and (hasRatio != null and hasRatio == true)%}
            {% set isCover = true %}
        {% else if (module.isCover != null and module.isCover == false)%}
            {% set isCover = false %}
            {% set hasRatio = false %}
        {% endif %}

        {#-- asHero --#}
        {% set asHero = (parameters.asHero is defined and parameters.asHero == true) ?? false %}
        {% set isCover = asHero %}

        {% if (module.asHero != null and module.asHero == true)%}
            {% set asHero = true %}
            {% set isCover = true %}
        {% endif %}

        {#-- maxRendition --#}
        {% if parameters.maxRenditionWidth != null%}
            {% set maxRenditionWidth = def.parameters.maxRenditionWidth?number%}
        {% else if imageWidth != null and imageWidth != 2560 %}
            {% set maxRenditionWidth = imageWidth %}
        {% endif %}

        {#-- objectfit --#}
        {% if isCover != null and isCover == true %}
            {% set objectfit = "cover" %}
        {% else %}
            {% set objectfit = "contain" %}
        {% endif %}

        {#-- max Dimensions --#}
        {% set hasMaxSize = false %}
        {% set maxWidth = "100%" %}
        {% set maxHeight = "unset" %}

        {% if not isCover%}
            {% if parameters.maxWidth != null %}
                {% set maxWidth = parameters.maxWidth %}
                {% set hasMaxSize = true %}
            {% endif %}

            {% if module.maxWidth != null %}
                {% set maxWidth = module.maxWidth %}
                {% set hasMaxSize = true %}
            {% endif %}

            {% if parameters.maxHeight != null %}
                {% set maxHeight = parameters.maxHeight %}
                {% set hasMaxSize = true %}
            {% endif %}

            {% if module.maxHeight != null %}
                {% set maxHeight = module.maxHeight %}
                {% set hasMaxSize = true %}
            {% endif %}
        {% endif %}

        {% set positionClass = "is-center"%}
        {% if position != null%}
            {% set positionClass = "is-" + position%}
        {% endif %}

        {% set ratioObj = '{}' %}
        {% set cssRatioObj = '{}' %}

        {% if asHero == true %}
            {% if hasRatio != false %}
                {% set ratioObj = "{w:" + ratioW + ",h:" + ratioH + "}" %}
                {% set cssRatioObj = "calc(" + ratioH + " / " + ratioW + " * 100%)" %}
                {% set assetRatioCss = cssRatioObj %}
            {% endif %}
        {% endif %}

        {#-- Asset Rendering --#}
        <lazy-media :ratio="{{ ratioObj ? '' }}"
                    :css-ratio="'{{ cssRatioObj ? '' }}'"
                    :position-class="'{{ positionClass ? '' }}'"
                    :data-json="'{{ asset | json_encode() }}'"
                    :as-hero="{{ asHero ? '' }}"
                    :is-cover="{{ isCover ? '' }}"
                    :item-key="'{{ itemKey ? '' }}'"
                    :is-autoplay="{{ isAutoplay ? '' }}"
                    :has-ratio="{{ hasRatio ? '' }}"
                    :has-caption="{{ hasCaption ? '' }}"
                    :max-rendition="{{ maxRenditionWidth ? '' }}"
                    :max-width="'{{ maxWidth ? '' }}'"
                    :max-height="'{{ maxHeight ? '' }}'"
                    :natural-height="{{ imageHeight ? '' }}"
                    :natural-width="{{ imageWidth ? '' }}"
            >
            <figure class="figure {% if hasBgcolor %}has-bgcolor{% endif %}" {% if assetRatioCss != null %}style="padding-top: {{ assetRatioCss ?? "" }}; font-size: 0;"{% endif %}>
                {% if asset.getMimeType()?starts_with("image")%}
                    <picture class="container js-loaded {% if assetRatioCss != null%}has-fixed-ratio{% endif %}">
                        <img class="media {{ positionClass ? ''} is-{{ objectfit ? ''}" width="{{ imageWidth ? ''}" height="{{ imageHeight ? ''}"
                             src="{% if assetRatioCss != null %}data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII={% else %}{{ asset.getUrl(thumb) }}{% endif %}" style="display: block; max-width: {{ maxWidth ?? '' }} ; max-height: {{ maxHeight ?? '' }} ;{% if hasRatio == null %} opacity: 0;{% endif %}" {% if assetMap != null %}{# TODO: Add alt macro stuff #}{% endif %}>
                    </picture>
                {% else %}
                    <video controls class="container media js-loaded {% if assetRatioCss != null%}has-fixed-ratio{% endif %}" src="" preload="metadata" style="display: block; max-width:{{ maxWidth ?? '' }}; max-height:{{ maxHeight ?? '' }}; visibility: hidden;">
                    </video>
                {% endif %}
            </figure>
        </lazy-media>
        {% if hasCaption == true%}
            <div class="caption">{{ asset.caption ?? ''}}</div>
        {% endif %}
    {% endif %}

</div>
