{% macro navigation(entry) %}
    {% set homepage = craft.entries.section('homepage').one() %}
    <ul>
    {# Homepage link #}
    <li>
        <a class="leading-normal {% if entry.id == homepage.id %}text-red-400{% endif %}" href="{{ homepage.url }}">
            {{ homepage.title }}
        </a>
    </li>

    {# Navigation Pages #}
    {% set navPages = craft.entries.section('page').level(1).all() %}
    {% set slugs = craft.app.request.segments %}
    {% nav navPage in navPages %}
        {% if not navPage.hideInNavigation.contains('hide') %}
            <li class="relative">
            <a class="leading-normal inline {% if navPage.slug in slugs %}text-red-400{% endif %}" href="{{ navPage.url }}">
                {{ navPage.title }}
            </a>
            </li>
        {% endif %}
    {% endnav %}

    {# Contact link #}
    {% set contact = craft.entries.section('contact').one() %}
    <li>
        <a class="leading-normal {% if entry.id == contact.id %}text-red-400{% endif %}" href="{{ contact.url }}">
            {{ contact.title }}
        </a>
    </li>
</ul>
{% endmacro %}