{#-- initializing variables --#}
{% set hasGutter = component["hasGutter"] ?? parameters.hasGutter ?? false %}
{% set asHero = parameters.asHero | default(false) %}
{% set isCover = parameters.isCover | default(false) %}
{% set showBulletsDesktop = parameters.showBulletsDesktop ?? false %}
{% set isSmallWidth = component["isSmallWidth"] ?? false %}
{% set itemWidth = "" %}
{% set itemHeight = "" %}
{% set hasRatio = false %}
{% set carouselClass = parameters.carouselClass | default("") %}
{% set columns =  component["columns"] ?? parameters.columns ?? null %}
{% set minWidth = component["minWidth"] ?? parameters.minWidth ?? null %}
{% set maxWidth = component["maxWidth"] ?? parameters.maxWidth ?? null %}
{% set autoplay = component["autoplay"] ?? parameters.autoplay ?? false %}
{% set renderType = component["renderType"] ?? parameters.renderType ?? "slideshow" %}
{% set slidesVisible = component["slidesVisible"] ?? parameters.slidesVisible ?? null %}
{% set slideWidthPercentage = null %}
{% if slidesVisible %}
    {% set slideWidthPercentage = 100 / slidesVisible %}
{% endif %}
{% set isInfinite = (component["isInfinite"] is defined and component.isInfinite) or renderType == "slideshow" %}
{% if not isInfinite %}
    {# Check if isInfinite can get inherited #}
    {% set isInfinite = parameters.isInfinite ?? false %}
{% endif %}

{% if component["asHero"] is defined and component.asHero == true %}
    {% set asHero = true %}
    {% set isCover = true %}
{% endif %}

{#-- Non Hero Ratio settings --#}
{% if asHero == false %}
    {% set itemRatio = parameters.itemRatio|default(null) %}
    {% if component.itemRatio is defined and component.itemRatio != "none" %}
        {% set itemRatio = component.itemRatio.value ?? itemRatio ?? null %}
    {% endif %}
    {% set itemWidth = parameters.width|default %}
    {% set itemHeight = parameters.height|default %}

    {% if itemRatio != null %}
        {% set imageRatio = 1 / (itemRatio) * 100 %}
        {% set hasRatio = true %}
    {% elseif component.width is defined and component.width > 0
        and component.height is defined and component.height > 0 %}
        {% set imageRatio = 1 / (component.width / component.height) * 100 %}
        {% set itemWidth = component.width %}
        {% set itemHeight = component.height %}
        {% set itemRatio = itemWidth ~ "/" ~ itemHeight %}
        {% set hasRatio = true %}
    {% elseif itemWidth|default and itemHeight|default %}
        {% set imageRatio = 1 / (itemWidth / itemHeight) * 100 %}
        {% set itemWidth = itemWidth %}
        {% set itemHeight = itemHeight %}
        {% set itemRatio = itemWidth ~ "/" ~ itemHeight %}
        {% set hasRatio = true %}
    {% endif %}
{% endif %}

{#-- initializing parameters, which get inherited by children --#}
{% if parameters is not defined %}
    {% set parameters = {
        asHero: false,
        isAutoplay: false,
        isCover: true,
        showBulletsDesktop: false,
        hasRatio: hasRatio,
        itemRatio: itemRatio ?? null,
        assetRatio: imageRatio ?? null
    } %}
{% endif %}

{#-- Light Background for Section --#}
{% set lightBgClass = "" %}
{% if component["isLight"] is defined and component.isLight %}
    {% set lightBgClass = "has-background -gray has-top-inner-space has-bottom-inner-space" %}
{% endif %}
<div class="o-section {{ lightBgClass }} {{ asHero ? 'w-full' : 'is-large'}}">
    <div class="o-group has-inner-gutter  {{ asHero ? 'w-full' : 'is-large'}}">
        <div class="o-carousel-wrapper o-component">
            <multi-carousel v-bind:transition-delay="350"
                            v-bind:delay="{{ component.delay ?? '5000' }}"
                            v-bind:autoplay="{{ autoplay ? 'true' : 'false' }}"
                            v-bind:as-hero="{{ asHero ? 'true' : 'false' }}"
                            v-bind:start-at="0"
                            v-bind:render-type="'{{ renderType ?? 'slideshow' }}'"
                            v-bind:orientation="'{{ component.orientation ?? 'horizontal' }}'"
                            v-bind:is-infinite="{{ isInfinite ? 'true' : 'false' }}"
                            {% if slideWidthPercentage %}v-bind:slide-width-percentage-desktop="{{ slideWidthPercentage }}"{% endif %}
                            {% if imageRatio|default %}v-bind:slide-ratio="{{imageRatio ?? 0}}"{% endif %}
                            {% if columns %}v-bind:columns="{{ columns ?? '0'}}"{% endif %}
                            {% if minWidth %}v-bind:min-width="{{ minWidth ?? '0'}}"{% endif %}
                            {% if maxWidth %}v-bind:max-width="{{ maxWidth ?? '0'}}"{% endif %}
                            class="o-carousel o-component {{ carouselClass }} {% if hasGutter %}has-inner-gutter{% endif %} {% if showBulletsDesktop %}show-bullets{% endif %}" {% if asHero == true %}style="height: 100vh"{% endif %}>
                <template v-slot:slides>
                    {% if component.children.all() is not empty %}
                        {% for module in component.children.all() %}
                            <div class="slide">
                                <carousel-slide ref="carouselSlide">
                                    {% include "_components/" ~ module.type %}
                                </carousel-slide>
                            </div>
                        {% endfor %}
                    {% endif %}
                </template>
            </multi-carousel>
        </div>
    </div>
</div>
