{% set homepage = craft.entries.section('homepage').one() %}
{% set applicationName = 'Craft Helium' %} {# TODO: Fill correct Application Name #}
<!DOCTYPE html>
<html lang="{{ craft.app.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {#
         #  Fetch the 404 Single entry, if we don’t already have it.
         #}
        {% if entry is not defined %}
            {% set entry = craft.entries.uri('404').one() %}
        {% endif %}
        <title>{{ entry.title }}</title>

        <meta name="viewport" content="width=device-width">
        <meta name="title" content="{% if entry.title is defined and entry.title is not empty %}{{ entry.title }}{% endif %}">
        <meta name="description" content="{% if entry.metaDescription is defined and entry.metaDescription is not empty %}{{ entry.metaDescription }}{% elseif homepage.metaDescription %}{{ homepage.metaDescription }}{% endif %}">

        <link rel="manifest" href="/webresources/manifest.json" crossorigin="use-credentials">

        {% if devMode %}
            <meta name="robots" content="noindex" />
        {% endif %}

        {# CSS #}
        <link rel="stylesheet" href="/webresources/build/module/main.css">

        <!-- Android / Standard: 192x192px -->
        <meta name="application-name" content="{{ applicationName }}">
        <meta name="mobile-web-app-capable" content="no">
        <meta name="theme-color" content="#FFFFFF">
        <link rel="icon" type="image/png" href="/webresources/icons/touch-icon.png">

        <!-- iOS: 152x152px (180x180px) -->
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-title" content="{{ applicationName }}">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="format-detection" content="telephone=no">
        <link rel="apple-touch-icon" href="/webresources/icons/apple-touch-icon.png">

        <!-- Safari pinned tab: 80x80px -->
        <link rel="mask-icon" href="/webresources/icons/website-icon.svg" color="#ffffff">

        <!-- Windows: 144x144px -->
        <meta name="msapplication-TileImage" content="/webresources/icons/ms-touch-icon.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Social networks -->
        <meta property="og:title" content="{% if entry.metaTitle is defined and entry.metaTitle is not empty %}{{ entry.metaTitle }}{% elseif homepage.metaTitle %}{{ homepage.metaTitle }}{% else %}{{ applicationName }}{% endif %}">
        <meta property="og:description" content="{% if entry.metaDescription is defined and entry.metaDescription is not empty %}{{ entry.metaDescription }}{% elseif homepage.metaDescription %}{{ homepage.metaDescription }}{% endif %}">
        <meta property="og:url" content="{{ entry.url }}">
        <meta property="og:site_name" content="{{ applicationName }}">
        <meta property="og:locale" content="{{ craft.app.locale }}">
        <meta property="og:type" content="website">

        {% set pageMetaImage = null %}
        {% if entry.metaImage is defined and entry.metaImage.one() %}
            {% set pageMetaImage = entry.metaImage.one() %}
        {% elseif entry.heroMedia is defined and entry.heroMedia.one() and entry.heroMedia.one().kind == 'image' %}
            {% set pageMetaImage = entry.heroMedia.one() %}
        {% elseif homepage.metaImage is defined and homepage.metaImage.one() %}
            {% set pageMetaImage = homepage.metaImage.one() %}
        {% endif %}
        {% if pageMetaImage is not null %}
            <meta property="og:image" content="{{ url()|slice(0,-1) }}{{ pageMetaImage.url }}">
            <meta property="og:image:width" content="{{ pageMetaImage.width }}">
            <meta property="og:image:height" content="{{ pageMetaImage.height }}">
            <meta name="og:image:alt" content="{{ pageMetaImage.altText }}">
            <meta name="twitter:card" content="summary_large_image">
        {% endif %}
    </head>
    <body class="no-js">
        {% include "_includes/symbols.svg" %}
        
        <div id="view" class="o-view">
            {% include "_includes/header.twig" %}

            {% block hero %}
            {% endblock %}

            <div id="pageContent" class="page-content" :class="{'js-mounted':isMounted}">
                <article class="inline-block w-full">
                    {% block content %}
                    {% endblock %}
                </article>
            </div>

            {% include "_includes/footer.twig" %}


            <transition name="fade">
                {% set cookies = craft.app.globals.getSetByHandle('cookies') %}
                <cookie-banner
                        {% if cookies.cookieBannerReadMorePage is defined and cookies.cookieBannerReadMorePage.one() != null %}
                            :read-more="'{{ cookies.cookieBannerReadMorePage.one().url }}'"
                        {% endif %}
                        {% if cookies.cookieBannerReadMoreLabel is defined and cookies.cookieBannerReadMoreLabel != null %}
                            :read-more-label="'{{ cookies.cookieBannerReadMoreLabel }}'"
                        {% endif %}
                        {% if cookies.cookieSettings is defined and cookies.cookieSettings != null %}
                            :settings-label="'{{ cookies.cookieSettings }}'"
                        {% endif %}
                        {% if cookies.cookieAcceptLabel is defined and cookies.cookieAcceptLabel != null %}
                            :accept-label="'{{ cookies.cookieAcceptLabel }}'"
                        {% endif %}
                        {% if cookies.cookieAnalyticsLabel is defined and cookies.cookieAnalyticsLabel != null %}
                            :analytics-label="'{{ cookies.cookieAnalyticsLabel }}'"
                        {% endif %}
                        {% if cookies.cookieFunctionalLabel is defined and cookies.cookieFunctionalLabel != null %}
                            :functional-label="'{{ cookies.cookieFunctionalLabel }}'"
                        {% endif %}
                        {% if cookies.cookieThirdPartyLabel is defined and cookies.cookieThirdPartyLabel != null %}
                            :thirdparty-label="'{{ cookies.cookieThirdPartyLabel }}'"
                        {% endif %}
                        {% if cookies.cookieBackLabel is defined and cookies.cookieBackLabel != null %}
                            :back-label="'{{ cookies.cookieBackLabel }}'"
                        {% endif %}
                        {% if cookies.cookieConfirmLabel is defined and cookies.cookieConfirmLabel != null %}
                            :confirm-label="'{{ cookies.cookieConfirmLabel }}'"
                        {% endif %}
                        {% if cookies.cookieSettingsExplanations is defined and cookies.cookieSettingsExplanations != null %}
                            :settings-explanations="'{{ cookies.cookieSettingsExplanations }}'"
                        {% endif %}
                        :analytics-cookies="true" :thirdparty-cookies="true" :is-production="{{ devMode ? 'false' : 'true' }}">
                    {% if cookies.cookieBannerExplanations is defined and cookies.cookieBannerExplanations != null %}
                        {{ cookies.cookieBannerExplanations }}
                    {% endif %}
                </cookie-banner>
            </transition>
        </div>

        <!-- JS -->
        <script nomodule src="/webresources/build/legacy/main.js"></script>
        <script type="module" src="/webresources/build/module/main.js"></script>
        {% set recaptchaKey = getenv('RECAPTCHA_SITE') %}
        <script>
            // Remove no js class
            document.body.classList.remove('no-js');
            // Set RecaptchaKey for usage in Custom Form
            window.recaptchaKey = '{{ recaptchaKey }}';
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-********-1"></script>
    </body>
</html>
