{% extends '_layout' %}

{% macro errorList(errors) %}
	{% if errors %}
		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% from _self import errorList %}

{% set title = entry.title %}



{% if craft.app.language == 'de' %}
	{% set contactTitle = 'Kontaktformular' %}
	{% set contactName = 'Name' %}
	{% set contactSurname = 'Nachname' %}
	{% set contactEmail = 'Email' %}
	{% set contactSubject = 'Betreff' %}
	{% set contactMessage = 'Nachricht' %}
	{% set contactPrivacyText = 'Ich bestätige hiermit das Lesen und akzeptiere den ' %}
	{% set contactPrivacy = 'Datenschutz' %}
	{% set contactSubmit = 'Senden' %}
{% else %}
	{% set contactTitle = 'Contact Form' %}
	{% set contactName = 'Name' %}
	{% set contactSurname = 'Surname' %}
	{% set contactEmail = 'Email' %}
	{% set contactSubject = 'Subject' %}
	{% set contactMessage = 'Message' %}
	{% set contactPrivacyText = 'I have read and agree to the ' %}
	{% set contactPrivacy = 'Data Policy' %}
	{% set contactSubmit = 'Submit' %}
{% endif %}

{% block hero %}
	{#Hero#}
	<div class="o-section o-hero mt-0 w-full ">
		{% include "_includes/heroImage.twig" %}
		<div class="o-view-header-sentinel"></div>
	</div>
{% endblock %}

{% block content %}
	<div class="main mt-0 pt-12">
		<div class="o-section">
			<div class="o-group">
            	<h1>{{ entry.title }}</h1>
			</div>
		</div>

		<div class="o-section">
			<div class="o-group is-large">
				{% include "_includes/googleMap.twig" %}
			</div>
		</div>

		{% for component in entry.components.level(1).all() %}
			{% include "_components/" ~ component.type %}
		{% endfor %}

		<div class="o-section">
			<div class="o-group">
				<h2>{{ contactTitle }}</h2>
				<form method="post" action="" accept-charset="UTF-8" class="relative w-full mt-8">
					<fieldset>
						{{ csrfInput() }}
						<input type="hidden" name="action" value="contact-form/send">

						<div class="relative mb-6">
							<div class="input-wrapper">
								<input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="{{ contactName }}">
								<label for="from-name">{{ contactName }}</label>
								{{ message is defined and message ? errorList(message.getErrors('fromName')) }}
							</div>
						</div>

						<div class="relative mb-6">
							<div class="input-wrapper">
								<input id="surname" type="text" name="message[Surname]" value="{{ message.message.Surname ?? '' }}" placeholder="{{ contactSurname }}">
								<label for="surname">{{ contactSurname }}</label>
								{{ message is defined and message ? errorList(message.getErrors('message[Surname]')) }}
							</div>
						</div>

						<div class="relative mb-6">
							<div class="input-wrapper">
								<input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="{{ contactEmail }}">
								<label for="from-email">{{ contactEmail }}</label>
							</div>
						</div>

						<div class="relative mb-6">
							<div class="input-wrapper">
								<input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}" placeholder="{{ contactSubject }}">
								<label for="subject">{{ contactSubject }}</label>
								{{ message is defined and message ? errorList(message.getErrors('subject')) }}
							</div>
						</div>

						<div class="relative mt-8 mb-6">
							<textarea class="block" rows="10" cols="40" id="message" name="message[body]" placeholder="{{ contactMessage }}">{{ message.message.body ?? '' }}</textarea>
							<label for="message">{{ contactMessage }}</label>
							{{ message is defined and message ? errorList(message.getErrors('message[body]')) }}
						</div>

						<div class="relative">
							<div class="checkbox-wrapper">
								<input name="message[privacy]" id="privacy" required type="checkbox">
								<label class="checkbox-label" for="privacy">
									{{ contactPrivacyText }}
									{% if entry.dataPolicyPage is defined and entry.dataPolicyPage.one() != null %}
										<a href="{{ entry.dataPolicyPage.one().url }}" target="_blank">{{ contactPrivacy }}</a>.
									{% endif %}
									{% if craft.app.language == 'de' %}
										<div class="mt-1 text-sm">
											Diese Website ist durch reCAPTCHA geschützt (es gelten die Google
											<a class="link" href="https://policies.google.com/privacy" target="_blank">Datenschutzbestimmungen</a> und
											<a class="link" href="https://policies.google.com/terms" target="_blank">Nutzungsbedingungen</a>).
										</div>
									{% else %}
										<div class="mt-1 text-sm">
											This site is protected by reCAPTCHA and the Google
											<a class="link" href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
											<a class="link" href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
										</div>
									{% endif %}
								</label>
								{{ message is defined and message ? errorList(message.getErrors('message[privacy]')) }}
							</div>
						</div>

						{{ craft.contactFormExtensions.recaptcha | raw }}

						<div class="relative mt-8">
							<input type="submit" value="{{ contactSubmit }}">
						</div>

						<div class="relative">
							{% if craft.app.session.hasFlash('notice') %}
								<p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
							{% elseif craft.app.session.hasFlash('error') %}
								<p class="message error">{{ craft.app.session.getFlash('error') }}</p>
							{% endif %}
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
