{% extends '_layout' %}

{% macro errorList(errors) %}
	{% if errors %}
		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% from _self import errorList %}

{% set title = entry.title %}

{% block hero %}
	{#Hero#}
	<div class="o-section o-hero">
		{% include "_includes/heroImage.twig" %}
		<div class="o-view-header-sentinel"></div>
	</div>
{% endblock %}

{% block content %}
	<div class="main mt-0 pt-12">
		<div class="o-section">
			<div class="o-group">
            	<h1>{{ entry.title }}</h1>
			</div>
		</div>

		<div class="o-section">
			<div class="o-group is-large">
				{% include "_includes/googleMap.twig" %}
			</div>
		</div>

		{% for component in entry.components.level(1).all() %}
			{% include "_components/" ~ component.type %}
		{% endfor %}

		<div class="o-section">
			<div class="o-group">
				<h2>{{ 'form.contactForm'|t }}</h2>
				<custom-form
						:data-policy-page="'{{ entry.dataPolicyPage.one().url }}'"
						{% if entry.successMessage is defined and entry.successMessage is not empty %}
							:success-message="'{{ entry.successMessage ?? '' }}'"
						{% endif %}
						{% if entry.errorMessage is defined and entry.errorMessage is not empty %}
							:error-message="'{{ entry.errorMessage ?? '' }}'"
						{% endif %}
				>
					<template v-slot:csrf>
						{{ csrfInput() }}
					</template>
				</custom-form>
			</div>
		</div>
	</div>
{% endblock %}
